body {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
}

input {
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid gray;
  border-radius: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  width: 300px;
}

input[type="number"] {
  width: 50px;
}

input[type="submit"] {
  width: 100px;
}

.transit-line {
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
}

.flash {
    border: 3px solid red;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/** Remove the up and down arrows on the number input **/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
