body {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-family: sans-serif;
}

input {
    margin-top: 10px;
    margin-bottom: 15px;
}

.transit-line {
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
}
