{% extends 'base.html' %}

{% block content %}

    <form action="{{ url_for('index')}}" method="post">
        <label for="startLocation" class="form-label">Where are you starting from?</label>
        <input name="startLocation" autocomplete="street-address" class="form-control" id="startLocation" required>
        <br>
        <label for="minsAway" class="form-label">How long are you willing to travel? (in minutes)</label>
        <input name="minsAway" class="form-control" id="minsAway" type="number" required>
        <br>
        <input type="submit" value="Find Events">
    </form>

  {% for event in events %}
    <article class="event">
      <header>
        <div>
          <h1><a href={{ event["url"] }}>{{ event["name"] }}</a></h1>
          <p>At {{ event["venue_name"] }} on {{ event["start_time"].strftime("%A %b %d, %Y %I:%M %p") }}.</p>
          <p>{{ event["full_address"] }}</p>
          <p>{{ event["transit_duration"] }}{{ event["transit_description"] }}</p>
          <p>{{ event["price"] }}</p>
        </div>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
